{% extends "base.html.twig" %}

{% block body %}
<div class="container text-center">
    <div class="d-flex justify-content-center">
        <div class="row">
            {% for article in articles %}
            
                <div class="card" style="width: 33%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.name }}</h5>
                        <p class="card-text">{{ article.content }}</p>
                        <span>{{ article.author }}</span>
                    </div>
                </div>

            {% endfor %}

            {% if previous >= 0 %}
              <a href="{{ path('index', { offset: previous }) }}">Previous</a>
            {% endif %}
            {% if next < articles|length %}
                <a href="{{ path('index', { offset: next }) }}">Next</a>
           {% endif %}
        </div>
    </div>
</div>

    
{% endblock %}